@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Inter';
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 27px 25px;
}

.analogue {
    font-size: 40px;
}

.navbar {
    display: flex;
    gap: 26px;
}

.a-menu {
    text-decoration: none;
    color: #1F1F1F;
}

.group-btn {
    margin-top: -8px;
    display: none;
}

.design {
    padding: 37px 20px;
}

.design-text {
    font-size: 72px;
    color: #1F1F1F;
    max-width: 935px;
}

.group-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    gap: 40px;
    padding: 58px 0;
    font-size: 16px;
    color: #1F1F1F;
}

.design-d {
    display: grid;
    grid-column-start: 2;
}

.icon-start {
    margin: 0 auto;
}

.client-text {
    font-size: 32px;
    color: #1F1F1F;
    text-align: center;
    padding: 79px 0;
}

.icon-clients {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 70px;
    padding: 41px 0;
}

.div-line {
    padding: 30px;
}

.div-start {
    position: relative;
    top: 56px;
}

.clients-line {
    border: solid 1px #6D6B67;
    max-width: 1320px;
    margin: 0 auto;
}

.client-line {
    border: solid 1px #6D6B67;
    max-width: 1320px;
    margin: 0 auto;
}

.clients {
    background-color: #F7F6F3;
    width: 100%;
}

.Recent {
    color: #1F1F1F;
    font-size: 30px;
    padding-left: 30px;
}

.btn2:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}

.btn3:hover {
    background-color: #fff;
    color: black;
    transition: 0.5s;
}

.start {
    background: #E0F391;
    padding: 20px 40px;
}

.start-line {
    border: solid 1px #6D6B67;
    margin: 0 auto;
}

.line {
    border: #1F1F1F solid 0.2px;
    max-width: 510px;
    margin-top: 20px;
}

.work-text {
    color: #464542;
    font-size: 23px;
    padding: 10px 0;
}

.work {
    padding: 80px;
}

.p-text {
    color: #6D6B67;
    font-size: 13px;
    padding: 1px 0;
}

.work-cart {
    padding: 30px;
}

.logo-group {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.work-btn {
    padding-left: 30px;
}

.btn2 {
    color: #fff;
    background-color: black;
    padding: 15px 40px;
}

footer {
    background: #1F1F1F;
    padding: 30px;
}

.footer-text {
    padding: 50px 0;
}

.footer-atext {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 52px;
}

.line1 {
    border: solid 1px #6D6B67;
    max-width: 400px;
}

.footer-a {
    display: flex;
    gap: 66px;
    justify-content: flex-end;
}

.a-logo {
    text-decoration: none;
    color: #fff;
}

.btn3 {
    color: #fff;
    background-color: black;
    padding: 15px 40px;
}

.a {
    text-decoration: none;
    color: #fff;
}

.start-text {
    padding-top: 106px;
    color: #1F1F1F;
    font-size: 28px;
}

.start-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
}

.group-a {
    padding: 50px 0;
}

@media screen and (max-width:1124px) {

    .cert-group {
        margin: 0 auto;
    }

    .logo-group {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .img-work {
        width: 370px;
    }

    .work-btn {
        text-align: center;
    }

    .btn2 {
        margin: 0 auto;
    }
}

@media screen and (max-width:1000px) {

    .navbar {
        display: none;
    }

    .icon-clients {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .group-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 37px;
    }

    .logo-group {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .img-work {
        width: 100%;
    }

    .design-d {
        margin: 0 auto;
    }

    .desin-p {
        margin: 0 auto;
    }

    .btn {
        color: #1F1F1F;
        background: none;
        padding: 15px 20px;
    }

    .btn:hover {
        background-color: #1F1F1F;
        color: #fff;
    }

    .design-text {
        font-size: 60px;
        text-align: center;
    }

    .group-btn {
        display: flex;

    }

}

@media screen and (max-width:880px) {
    .logo-group {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .start-btn {
        padding: 40px;
    }

    .start-text {
        text-align: center;
    }

    .btn3 {
        margin: 0 auto;
    }

    .img-work {
        width: 300px;
    }
}

@media screen and (max-width:768px) {
    .design-text {
        font-size: 45px;
        text-align: center;
    }

    .logo-group {
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .img-work {
        width: 220px;
    }

    .work-text {
        padding: 12px 0;
    }

    footer {
        display: grid;
        grid-template-columns: auto;
    }

    .icon-clients {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .icon-start {
        width: 110px;
    }

    .analogue {
        font-size: 30px;
    }

    .Recent {
        text-align: center;
    }

    .group-a {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .work-cart {
        font-size: 2px;
    }

    .start-text {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:597px) {
    .logo-group {
        display: grid;
        grid-template-columns: auto;
    }

    .img-work {
        width: 430px;
    }
}

@media screen and (max-width:525px) {
    .icon-clients {
        display: grid;
        grid-template-columns: auto auto;
    }

    .img-work {
        width: 340px;
    }

    .design-d {
        font-size: 14px;
    }

    .desin-d {
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .footer-text {
        width: 150px;
    }

    .footer-atext {
        font-size: 15px;
    }

    .btn2 {
        padding: 15px 20px;
    }

    .img-work {
        width: 243px;
    }

    .btn2 {
        margin: 0 auto;
    }


    footer {
        font-size: 12px;
    }

    .analogue {
        font-size: 25px;
    }

    .design-text {
        font-size: 30px;
        text-align: center;
    }

    .design-d {
        font-size: 11px;
    }

    .desin-d {
        font-size: 11px;
    }
}